<!-- <p id="notice"><%= notice %></p>-->
<div class="cardInitial" id="showProduct">
  <div class="card">
    <div class="headerInitial">
      <h1 class="text-center my-5 initialTitle">Warning</h1>
    </div>

<!--       <div class="row justify-content-center mb-2">    
        <div class="col-6 strong d-flex justifying-show-label ">DSP:</div> 
        <div class="col">
          <%#= @marshall_warning.dsp_id %>
        </div>            
      </div> -->
    
      <div class="row justify-content-center mb-2 rowAligntment">    
        <div class="col-4 strongSize d-flex justifying-show-label ">DSP:</div> 
        <div class="col-8 showOutput">
          <%= @marshall_warning.dsp.upcase %>
        </div>            
      </div>

      <div class="row justify-content-center mb-2 rowAligntment">    
        <div class="col-4 strongSize d-flex justifying-show-label ">Reg_No:</div> 
        <div class="col-8 showOutput">
          <%= @marshall_warning.registration_number.upcase %>
        </div>            
      </div>
      <div class="row mb-mr"> 
       <label class = "strongSize col-sm-4 col-form-label col-form-label-lg d-flex  justifying-show-label-special">  Fault: </label>
        <div class="col-sm-7 d-flex flex-row-revers showOutput"><%= @marshall_warning.fault.capitalize %>
        </div>
      </div>

      <div class="row mb-mr"> 
       <label class = "strongSize col-sm-4 col-form-label col-form-label-lg d-flex justifying-show-label-special"> Act /Com: </label>
        <div class="col-sm-7 d-flex flex-row-revers showOutput"><%= @marshall_warning.action_comment.capitalize %>
        </div>
      </div>

       <div class="row justify-content-center my-4 rowAligntment">    
        <div class="col-4 strongSize d-flex justifying-show-label ">Date:</div> 
        <div class="col-8 showOutput">
          <%= @marshall_warning.date.strftime("%d/%b/%Y") %>
        </div>            
      </div>

    <div class="row margins justify-content-center">
      <%= link_to 'Warnings', root_path, :class=> "btn btn-primary back col-sm-5", :remote => true %>   
      <%#= link_to 'Warnings',  marshall_warnings_path, :class=> "btn btn-success back col-sm-5", remote: true %>
      <%= link_to 'Edit', edit_marshall_warning_path(@marshall_warning), :class=> "btn btn-primary edit col-sm-5", remote: true %>
    </div>
  </div>
</div>



<!-- ,remote: true 