<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>
<div class="cardInitial" id="indexwarnings">
  <div class="card">
    <div class="headerInitial">
      <h1 class="text-center margins-y initialTitle">Warnings</h1>
    </div>
    <div id="newLink">
      <%= link_to 'New Warning', new_marshall_warning_path, :class=> "btn btn-primary lnkNewWarning my-4"%>
    </div>
    <hr>
    <div class="table-responsive ">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>DSP</th>
            <th>Reg No.</th>
            <th>Fault</th>
            <th>Action/Comment</th>
            <th>Date</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @marshall_warnings.each do |marshall_warning| %>
            <tr>
              <!-- <td class="text-center"><%#= marshall_warning.service_provider_id %></td> -->
              <td class="text-center"><%= marshall_warning.dsp %></td>
              <td class="text-center"><%= marshall_warning.registration_number %></td>
              <td class=""><%= marshall_warning.fault %></td>
              <td class=""><%= marshall_warning.action_comment %></td>
              <td class="text-center"><%= marshall_warning.date.strftime("%d/%b/%Y") %></td>
              <td class="text-center"><%= link_to 'Show', marshall_warning %></td>
              <td class="text-center"><%= link_to 'Edit', edit_marshall_warning_path(marshall_warning) %></td>
              <td class="text-center"><%= link_to 'Delete', marshall_warning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>


  </div>

</div>

    <div id="newLinkBottom">
      <%= link_to 'New Warning', new_marshall_warning_path, :class=> "btn btn-primary lnkNewWarning my-4"%>
    </div>

<!-- remote: true -->