<div class="containerCard">  <!-- This div and the one below will do center the card -->

  <!-- justify-content-center -->

    <div class="card card-Login">
        <div class="card-header text-center">
          <h2>Login</h2>
      </div>
          <div class="card-body text-center">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field my-3">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "inputSingform" %>
          </div>

          <div class="field mb-3">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", :class => "inputSingform" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field mb-4">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in", :class => "buttonLogin" %>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>

<!-- <div class="card-footer text-center">
          <%#= render "devise/shared/links" %>
        </div> -->
